version: "3.7"

services:
  nginx-proxy:
    image: jwilder/nginx-proxy
    container_name: nginx-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./certs:/etc/nginx/certs
      - ./vhost:/etc/nginx/vhost.d
      - ./html:/usr/share/nginx/html
  nginx-proxy-acme:
    image: nginxproxy/acme-companion
    container_name: nginx-proxy-acme
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./certs:/etc/nginx/certs
      - ./vhost:/etc/nginx/vhost.d
      - ./html:/usr/share/nginx/html
      - ./acme:/etc/acme.sh
    environment:
      - DEFAULT_EMAIL=j.corral@mail.utoronto.ca
      - NGINX_PROXY_CONTAINER=nginx-proxy
  postgres:
    image: "postgres:latest"
    container_name: postgress
    environment:
      - POSTGRES_USER=$POSTGRES_USER
      - POSTGRES_DB=$POSTGRES_DB
      - POSTGRES_PASSWORD=$POSTGRES_PASSWORD
  frontend:
    image: deliverats-frontend
    container_name: frontend
    restart: always
    expose:
      - 80
    environment:
      - VIRTUAL_HOST=deliverats.live
      - LETSENCRYPT_HOST=deliverats.live
      - CHOKIDAR_USEPOLLING=true
  backend:
    image: deliverats-backend
    container_name: backend
    restart: always
    expose:
      - 3001
      - 3002
    environment:
      - VIRTUAL_HOST=api.deliverats.live
      - LETSENCRYPT_HOST=api.deliverats.live
      - VIRTUAL_PORT=3001
