version: "3.7"

services:
  nginx-proxy:
    image: jwilder/nginx-proxy
    container_name: nginx-proxy
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./certs:/etc/nginx/certs
      - ./vhost:/etc/nginx/vhost.d
      - ./html:/usr/share/nginx/html
  nginx-proxy-acme:
    image: nginxproxy/acme-companion
    container_name: nginx-proxy-acme
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./certs:/etc/nginx/certs
      - ./vhost:/etc/nginx/vhost.d
      - ./html:/usr/share/nginx/html
      - ./acme:/etc/acme.sh
    environment:
      - DEFAULT_EMAIL=j.corral@mail.utoronto.ca
  postgres:
    image: "postgres:latest"
    container_name: postgress
    environment:
      - POSTGRES_USER=$POSTGRES_USER
      - POSTGRES_DB=$POSTGRES_DB
      - POSTGRES_PASSWORD=$POSTGRES_PASSWORD
  frontend:
    image: deliverats-frontend
    container_name: frontend
    restart: always
    expose:
      - 80
    environment:
      - VIRTUAL_HOST=deliverats.live
      - LETSENCRYPT_HOST=deliverats.live
      - CHOKIDAR_USEPOLLING=true
      - REACT_APP_API_URL=$REACT_APP_API_URL
      - REACT_APP_SOCKET_URL=$REACT_APP_SOCKET_URL
      - REACT_APP_AUTH0_DOMAIN=$REACT_APP_AUTH0_DOMAIN
      - REACT_APP_AUTH0_CLIENT_ID=$REACT_APP_AUTH0_CLIENT_ID
      - REACT_APP_GOOGLE_MAPS_API_KEY=$REACT_APP_GOOGLE_MAPS_API_KEY
  backend:
    image: deliverats-backend
    container_name: backend
    restart: always
    expose:
      - 3000
    environment:
      - VIRTUAL_HOST=api.deliverats.live
      - LETSENCRYPT_HOST=api.deliverats.live
      - REACT_APP_AUTH0_DOMAIN=$REACT_APP_AUTH0_DOMAIN
      - SENDGRID_API_KEY=$SENDGRID_API_KEY
      - TWILIO_ACCOUNT_SID=$TWILIO_ACCOUNT_SID
      - TWILIO_AUTH_TOKEN=$TWILIO_AUTH_TOKEN
      - TWILIO_CALLBACK_URL=$TWILIO_CALLBACK_URL
      - POSTGRES_USER=$POSTGRES_USER
      - POSTGRES_HOST=$POSTGRES_HOST
      - POSTGRES_DB=$POSTGRES_DB
      - POSTGRES_PASSWORD=$POSTGRES_PASSWORD
      - PGPORT=5432
